<link rel="stylesheet" href="/css/_home.css" />
<!-- <h1><%= title %></h1> -->
<div id="main-display-container">
  <section id="news">
    <h1>News</h1>
    <p>***********************</p>
    <p>#under Development section</p>
    <p>fetch news from news api</p>
    <p>***********************</p>
  </section>
  <section id="feed-posts">
    <h2>Posts</h2>
    <% if (locals.user) { %>

    <form action="/posts/create/" id="new-post-form" method="post">
      <textarea
        name="content"
        id=""
        placeholder="Post Something"
        cols="30"
        rows="3"
        required
      ></textarea>
      <input type="submit" value="Post" />
    </form>
    <% }%>
    <div id="posts-list-container">
      <ul>
        <% for( post of posts ) { %> <%- include('_post') %> <% } %>
      </ul>
    </div>
  </section>

  <section id="user-friends">
    <h1>Friends</h1>
    <% for (user of all_users) { %>
    <p>
      <a href="/users/profile/<%= user.id %>"><%= user.name %></a>
    </p>
    <% } %>
    <div><%- include('_chat_box') %></div>
  </section>
</div>
<script src="/js/home_post_comments.js"></script>
<script src="/js/home_posts.js"></script>

<!-- CHANGE :: import the script file for toggle likes, also run it over for the already present posts and comments on the page -->
<script src="js/toggle_likes.js"></script>
<script>
  $(".toggle-like-button").each(function () {
    let self = this;
    let toggleLike = new ToggleLike(self);
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
<script src="/js/chat_engine.js"></script>
<% if (locals.user) { %>

<script>
  new ChatEngine("user-chat-box", "<%= locals.user.email%>");
</script>

<% } %>
