<link rel="stylesheet" href="/css/user_profile.css" />

<h1>Codiel User || <%= user.name %></h1>

<img src="<%= user.avatar %>" alt="User Avatar" width="150" height="150" />

<img
  src=""
  id="previewAvatar"
  alt="preview avatar"
  style="display: none; width: 100px; height: 100px"
/>
<% if (user.id == profile_user.id) { %>
<form
  action="/users/update/<%= profile_user.id %> "
  method="post"
  enctype="multipart/form-data"
>
  <input
    type="text"
    name="name"
    placeholder="Enter your Name"
    value="<%= profile_user.name %>"
    required
  />
  <input
    type="email"
    name="email"
    placeholder="Enter your email"
    value="<%= profile_user.email %>"
    required
  />
  <div id="upload-preview">
    <input
      type="file"
      name="avatar"
      id="avatar"
      placeholder="Profile Image"
      onchange="previewAvatar()"
    />
  </div>
  <input type="submit" value="submit" />
</form>
<% }else{ %>
<p><%= profile_user.name %></p>
<p><%= profile_user.email %></p>
<% } %>

<script src="/js/user_profile.js"></script>
